<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../src/styles/output.css" />
  <title>Casa Corretjer</title>
</head>

<body class="h-screen bg-gray-200 flex flex-col">
  <!-- 
            Encabezado
          -->

  <header class="bg-gray-800 text-white flex items-center justify-between px-4 h-[60px]">
    <h1 class="text-lg font-semibold"> Inventario Museo Biblioteca Juan Antonio Corretjer</h1>
    <select id="sectionSelector" class="block w-40 p-2 text-white bg-gray-300 border border-gray-300 rounded-md shadow-sm"> 
      <option value="seccionLibro">
        Agregar Libro
      </option>
      <option value="seccionCartas">
        Agregar Carta
      </option>
    </select>
  </header>

  <!-- 
            Side Bar
          -->
  <div class="flex flex-1 min-h-0">
    <aside class="bg-gray-700 text-white p-4 w-[250px]">
      <nav>
        <ul class="space-y-2">
          <li><button id="home" class="block py-2 px-3 bg-gray-600 rounded"> Pagina Principal </button></li>
          <li><button id="inventoryVisualization" class="block py-2 px-3 bg-gray-600 rounded">Navegar
              Inventario</button></li>
          <li><button id="inventoryAdd" class="block py-2 px-3 bg-gray-600 rounded">Agregar al inventario</button></li>

        </ul>
      </nav>
    </aside>

    <main class="bg-white p-3 flex-1 min-h-0 overflow-none">

                                                                                    <!-- // focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-purple-500 -->
      

      <!-- Secciones -->
      <div id="seccionLibro" class="section hidden flex-1 grid grid-cols-[1fr_2fr] min-h-full overflow-auto ">
        <div class="bg-gray-600 flex flex-col items-center ">

          <!-- Autor Section -->
          <div class="mt-3">
            <h2> Autores en la Base de Datos </h2>

            <input type="text" id="searchInput" placeholder="Buscar Autores" />
            
            <ul id="authorsList"></ul>

          </div>
        </div>
        <div class="bg-gray-800 h-full flex items-center justify-center text-white">
            📚 Columna Grande (2fr)
        </div>
    </div>

      <div id="seccionCartas" class="section hidden">
          Letters
      </div>
    </main>

  </div>
  



  <script src="../renderer/navegation/navigationRenderer.js"></script>
  <script src="../renderer/navegation/sectionNavegation.js"></script>
  <script src="../renderer//addInventory/autorsInventory.js"></script>
</body>

</html>