<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/styles/output.css" />
    <title>Casa Corretjer</title>
</head>
<body>
  <nav class="bg-gray-800 text-white p-4">
    <div class="mx-auto flex justify-between items-center">
      <button class="rounded-md bg-gray-800 px-3 py-2 text-xl font-medium" id="home">Inventario Casa Corretjer</button>
      <ul class="flex space-x-6">
        <li><button id="inventoryVisualization">Navegar Inventario</button></li>
        <li><button id="inventoryAdd">Agregar al inventario</button></li>
      </ul>
    </div>
  </nav>

    <main>
      <h2>
        Inventory Nav
      </h2>
    </main>
  <script src="../utils/Navigation/navigationRenderer.js"></script>
</body>
</html>